@import '~antd/dist/antd.css';

.main{
  height: calc(100vh - 64px);
}
.content{
  padding: 14px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo{
  font-size: 24px;
  color: #fff;
  flex: 1;
}